[role='tree-item'] {
  border: 1px dashed transparent;

  &:hover {
    background: rgba(0, 0, 0, 0.12);
  }

  &.selected {
    border: 1px dashed blue;
  }
}

.tree-node {
  display: flex;
  align-items: center;

  &.selected {
    border: 1px dashed blue;
  }

  &.dragging {
    border: 1px dashed tomato;
  }
}
