.default-tree-node {
  height: 28px;
  display: flex;
  align-items: center;

  .level-spacer {
    border-left: 1px solid transparent;
  }
}

.tree-row {
  border: 1px solid transparent;

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  &.selected {
    border: 1px solid blue;
  }
}

.tree-row:focus-visible {
  outline: none;
}
